.vscode/**
src/**
test/**
doc/**
!README.md
!LICENSE
!CHANGELOG.md
docker/**
node_modules/**
esbuild.js
scripts/**
vitest.*.mts
vitest.config.mts
eslint.config.mjs
tsconfig.json
**/*.map
**/*.ts
.gitignore
!resources/**
coverage/**
.vscode-test/**
*.vsix
vitest.bench.config.mts
